@font-face {
  font-family: 'corbid-regular';
  src:  url('../fonts/corbid/corbid-regular/corpide1sscd_regular.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.otf')  format('opentype'),
	    url('../fonts/corbid/corbid-regular/corpide1sscd_regular.woff') format('woff'),
	    url('../fonts/corbid/corbid-regular/corpide1sscd_regular.ttf')  format('truetype'),
	    url('../fonts/corbid/corbid-regular/corpide1sscd_regular.svg#corpide1sscd_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'corbid-light';
  src:  url('../fonts/corbid/corbid-light/corpide1sscd_light.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/corbid/corbid-light/corpide1sscd_light.otf')  format('opentype'),
	    url('../fonts/corbid/corbid-light/corpide1sscd_light.woff') format('woff'),
	    url('../fonts/corbid/corbid-light/corpide1sscd_light.ttf')  format('truetype'),
	    url('../fonts/corbid/corbid-light/corpide1sscd_light.svg#corpide1sscd_light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'corbid-bold';
  src:  url('../fonts/corbid/corbid-bold/corpide1sscd_bold.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.otf')  format('opentype'),
	    url('../fonts/corbid/corbid-bold/corpide1sscd_bold.woff') format('woff'),
	    url('../fonts/corbid/corbid-bold/corpide1sscd_bold.ttf')  format('truetype'),
	    url('../fonts/corbid/corbid-bold/corpide1sscd_bold.svg#corpide1sscd_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Core variables and mixins
@import "components/vars";

@import "bootstrap/normalize";

@import "components/body";

@import "components/header";

@import "components/workarea";

.layout{
  	flex: 1 0 auto;
}



.wrapper{

}
.container-fluid{
	max-width: 1203px;
	position: relative;
	width: 100%;
	margin: 0 auto; 
}


.page-content{
	padding-bottom: 48px;
}	

.btn{
	display: inline-block;
	font-size: 20px;
	background: #E30613;
	color: #fff;
	border-radius: 8px;
	padding: 7px 18px;
	transition: all .3s ease;
	&:hover{
		background: #cc061a;
	}
	&.m-white{
		background: #fff;
		color: #333333;
		&:hover{
			color: #fff;
			background: #cc061a;
		}
	}
}


.main-top{
	padding: 133px 0 40px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.main-top__wrap{
	padding-left: 93px;
	h2{
		position: relative;
		margin-bottom: 15px;
		&:before{
			content: "";
			display: inline-block;
			width: 72px;
			height: 72px;
			background: url(../img/svg/family.svg) no-repeat;
			position: absolute;
			left: -96px;
    		top: -6px;
		}
	}
}
.main-top__info{
	max-width: 365px;
	font-size: 21px;
	line-height: 28px;
	margin-bottom: 30px;
	font-variant-numeric: lining-nums;
	font-feature-settings: 'lnum';
	-moz-font-feature-settings: 'lnum=1';
	-ms-font-feature-settings: 'lnum';
	-webkit-font-feature-settings: 'lnum';
	-o-font-feature-settings: 'lnum';
}
.main-top__links{
	padding-top: 100px;
	display: flex;
	padding-left: 93px;
}
.btn-google{
	display: inline-block;
	margin-right: 24px;
	width: 117px;
	height: 40px;
	background: url(../img/svg/google.svg) no-repeat;
}
.btn-appstore{
	display: inline-block;
	width: 105px;
	height: 40px;
	background: url(../img/svg/appstore.svg) no-repeat;
}



.benefits{
	padding: 50px 0;
	background: #F2F3F7;
	h2{
		text-align: center;
		margin-bottom: 25px;
	}
}
.benefits__slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background: #BBC1C7;
		padding: 0;
		text-indent: -9999em;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		border:0;
		position: absolute;
		&.slick-prev{
			left: -28px;
			&:before{
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background: url(../img/svg/prev.svg) 19px no-repeat;
			}
		}
		&.slick-next{
			right: -28px;
			&:before{
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background: url(../img/svg/next.svg) 23px no-repeat;
			}
		}
	}
	.slick-dots{
		position: absolute;
		left: 0;
		bottom: 40px;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		list-style-type: none;
		padding-left: calc(50% + 84px);
		li{
			width: 8px;
			height: 8px;
			border: 2px solid transparent;
			margin-right: 10px;
			border-radius: 50%;
			background: #E30613;
			cursor: pointer;
			transition: background .3s ease;
			&:last-child{
				margin-right: 0;
			}
			button{
				display: none;
			}
			&.slick-active{
				background: #fff;
				border: 2px solid #E30613;
				width: 12px;
				height: 12px;
			}
			&:hover{
				background: #fff;
				border: 2px solid #E30613;
			}
		}
	}
}
.benefits__item{
	display: flex!important;
}
.benefits__img{
	width: 50%;
	min-height: 408px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.benefits__info{
	width: 50%;
	background: #fff;
	padding: 72px 33px 70px 87px;
}
.benefits__txt{
	max-width: 379px;
	margin-bottom: 24px;
	font-size: 17px;
	line-height: 20px;
}

.cost{
	background: #F2F3F7;
	padding-bottom: 30px;
	h2{
		text-align: center;
		padding-top: 88px;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			background: url(../img/svg/family-sh.svg) no-repeat;
			position: absolute;
			top: -23px;
			left: 50%;
			transform: translateX(-50%);
			width: 159px;
			height: 151px;
		}
	}
}


.cost-icon{
	display: flex;
	justify-content: center;
	img{
		display: block;
	}
}
.cost__list{
	margin-bottom: 16px;
	    padding: 60px 72px 0;
}
.cost__item{
	display: flex;
	padding: 16px 0;
	border-bottom: 1px solid #fff;
}
.cost__pre{
	font-size: 20px;
	line-height: 24px;
	padding-right: 30px;
	flex:1;
}
.cost__tick{
	width: 130px;
	position: relative;
}
.cost__add{
	font-size: 17px;
	line-height: 20px;
	padding: 0 72px;
	span{
		color: #E30613;
	}
}
.cost__btn{
	display: flex;
	justify-content: flex-end;
	padding: 0 88px;
}

.cost-add{
	position: absolute;
	bottom: calc(100% + 23px);
	left: 0;
	width: 100%;
	font-size: 17px;
	text-align: center;
	font-variant-numeric: lining-nums;
	font-feature-settings: 'lnum';
	-moz-font-feature-settings: 'lnum=1';
	-ms-font-feature-settings: 'lnum';
	-webkit-font-feature-settings: 'lnum';
	-o-font-feature-settings: 'lnum';
	span{
		color: #E30613;
	}
}
.cost-add__top{
	font-size: 20px;
	font-family: 'corbid-regular';
	margin-bottom: 2px;
}





.disable{
	padding-top: 40px;
	text-align: center;
	h3{
		margin-bottom: 6px;
	}
}
.disable__add{
	margin-bottom: 16px;
}
.disable__msg{
	font-size: 14px;
	line-height: 24px;
}
.disable-form__wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 13px;
	font-variant-numeric: lining-nums;
	font-feature-settings: 'lnum';
	-moz-font-feature-settings: 'lnum=1';
	-ms-font-feature-settings: 'lnum';
	-webkit-font-feature-settings: 'lnum';
	-o-font-feature-settings: 'lnum';
}
.disable-form__num{
	display: flex;

    align-items: center;

}
.disable-form__item{
	margin-right: 10px;
	font-size: 30px;
	&:last-child{
		margin-right: 0;
	}
}
input.disable-form__input{
	border:0;
	border-bottom: 1px solid rgba(153, 153, 153, 0.3);
	font-size: 33px;
	padding-top: 0;
	background: transparent;
	margin-bottom: 2px;
	.workarea &{
		width: auto;
		display: inline-block;
		padding: 0; 
	}
	&.m-double{
		width: 33px;
	}
	&.m-triple{
		width: 50px;
	}
}


.disable-form__submit{
 	font-size: 20px;
    color: #E30613;
    background: transparent;
    border: 1px solid #E30613;
    border-radius: 10px;
    font-family: 'corbid-regular';
    margin-left: 16px;
    padding: 6px 15px;
    transition: all .3s ease;
    &:hover{
    	background: #E30613;
    	color: #fff;
    }
}


.service{
	background:#fff;
	padding: 48px 0 10px;
	overflow: hidden; 
	h2{
		text-align: center;
	} 
}
.service__wrap{
	display: flex;
	flex-wrap:wrap;
	margin-right: -33px;
}

.service__item{
	padding-right: 33px;
	margin-bottom: 33px;
	&.m-lg{
		width: 50%;
		.service__title{
			font-size: 30px;
			line-height: 40px;
			font-family: 'corbid-bold';
			margin-bottom: 24px;
		}
		.service__in{
			padding: 27px 33px 34px;
			display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		}
	}
	&.m-md{
		width: 33.333%;
		.service__title{
			font-size: 20px;
			line-height: 24px;
			font-family: 'corbid-bold';
			margin-bottom: 16px;
		}
	}
	form{
		width: 100%;
    	height: 100%;
	}
	.disable-form__item{
		font-size: 40px;
    	line-height: 40px;
    	font-variant-numeric: lining-nums;
		font-feature-settings: 'lnum';
		-moz-font-feature-settings: 'lnum=1';
		-ms-font-feature-settings: 'lnum';
		-webkit-font-feature-settings: 'lnum';
		-o-font-feature-settings: 'lnum';
	}
	input.disable-form__input{
		font-size: 47px;
    	line-height: 40px;
    	&.m-double {
		    width: 47px;
		}
		&.m-triple {
		    width: 70px;
		}
	}
}
.service__top{
	position: relative;
	z-index: 1;
}
.service__in{
	width: 100%;
	height: 100%;
	background: #F2F3F7;
	padding: 24px 33px;
	position: relative;
}
.service__step{
	font-size: 20px;
	color: #E30613;
	margin-bottom: 7px;
	font-family: 'corbid-regular';
	font-variant-numeric: lining-nums;
	font-feature-settings: 'lnum';
	-moz-font-feature-settings: 'lnum=1';
	-ms-font-feature-settings: 'lnum';
	-webkit-font-feature-settings: 'lnum';
	-o-font-feature-settings: 'lnum';
}

.totally{
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	display: inline-block;
	position: relative;
	padding-left: 20px;
	transition: color .3s ease;
	position: relative;
	z-index: 1;
	&:before{
		content: "";
		display: inline-block;
		width: 14px;
		height: 14px;
		background: url(../img/svg/plus.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&:hover{
		color: #E30613;
	}
}


.service-links{
	display: flex;
}
.l-google{
	display: inline-block;
	width: 117px;
	height: 40px;
	background: url(../img/svg/l-google.svg) no-repeat;
	margin-right: 24px;
}
.l-appstore{
	display: inline-block;
	width: 105px;
	height: 40px;
	background: url(../img/svg/l-apple.svg) no-repeat;
}

.service__img{
	position: absolute;
	right: 0;
	bottom: 0;
	pointer-events: none;
	img{
		display: block;
	}
}

.service-number{
	margin-bottom: 4px;
}


.service-add{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;

	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 47px;
		line-height: 32px;
		display: inline-block;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0;
    	top: 0;
		width: 32px;
		height: 32px;
		background: #FFFFFF;
		border: 1px solid rgba(153, 153, 153, 0.3);
		border-radius: 8px;
		cursor: pointer;
		z-index: 5;
	}
	input[type="checkbox"]:checked+ label:before{
		// border: 1px solid $base-color;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url(../img/svg/check.svg) center no-repeat;
		background-size: contain;
		width: 18px;
		height: 15px;
		display: inline-block;
		position: absolute;
		top: 8px;
    	left: 8px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	}
}

.service__submit{
	display: inline-block;
	background: #E30613;
	border-radius: 8px;
	font-size: 20px;
	color: #fff;
	padding: 7px 17px;
	border: 0; 
	transition: all .3s ease;
	&:hover{
		background: #cc061a;
	}
}

.dnone{
	display: none;
}
.fancybox-container{
	z-index: 99;
}

.popup{
	border-radius: 13px;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.3);
	&.m-info{
		padding:0; 
		text-align: center;
		width: 585px;
		padding-top: 24px;
	}
	&.m-bg{
		padding-top: 163px;
		background-color: #F1F2F6;
		background-repeat: no-repeat;
    	background-position: center 45px;
    	padding-bottom: 30px;
	}
	&.m-img{
		padding-top: 55px;
    	padding-bottom: 30px;
    	background-color: #F1F2F6;
	}
}

.popup-title{
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 15px;
	font-family: 'corbid-bold';
}

.fancybox-slide--html .fancybox-close-small {
    padding: 7px;
    right: 5px;
    top: 5px;
}


.nosend{
	background: #F1F2F6;
	text-align: center;
	padding: 24px 10px; 
}
.popup__add{
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 24px;
	padding: 0 20px;
}
.code__pre{
	margin-bottom: 8px;
}

.code{
	
	    max-width: 265px;
    text-align: left;
    margin: 0 auto 32px;
	    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
	input.disable-form__input{
		padding: 0; 
		&.m-single{
			width: 17px;
		}
	}
	.disable-form__num{
		margin-right: 24px;
	}
}
.code__wrap{
	display: flex;
	justify-content: center;
}

.btn-close{
	color: #E30613;
	font-size: 20px;
	border: 1px solid #E30613;
	border-radius: 8px;
	    padding: 7px 15px;
	font-family: 'corbid-regular';
	display: inline-block;
	transition: all .3s ease;
	&:hover{
		background: #E30613;
		color: #fff;
	}
}

.popup__img{
	    display: flex;
    justify-content: center;
	margin-bottom: 30px;
	img{
		display: block;
		max-width: 100%;
	}
}


@import "components/footer";




@import "components/media";





