.page-footer{
	flex-shrink: 0;
	padding-bottom: 40px;
}


.bottom{
	padding-top: 2px;
	font-size: 14px;
	line-height: 20px;
}
.page-footer__wrap{
	padding-top: 41px;
	border-top: 1px solid rgba(153,153,153, 0.3);
}
.page-footer-top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.page-footer__item{
	width: 33.333%;
	&.m-rule{
		a{
			font-family: 'corbid-regular';
		}
	}
	&:nth-child(2){
		width: 335px;
	}
	&:last-child{
		width: 240px;
	}
}

.page-footer-bttm{
	display: flex;
	justify-content: space-between;
}

.copy{
	font-size: 14px;
	line-height: 20px;
}

.page-footer__phone{
	font-size: 20px;
	color: #333333;
	font-family: 'corbid-regular';
}
.page-footer__title{
	margin-bottom: 22px;
}