

/*FONT-FAMILY*/
$default-font: 'corbid-light', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 17px;

/*BACKGROUND*/
$default-site-bg: #F2F3F7;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #333333;

$alternate-color: #ff0109;
